.methods_work__container{
    padding-left: 50px;
    padding-right: 100px;
}
@media screen and (max-width:990px){
    .methods_work__container{
        padding: 0;
    }
}
.methods_work__main_text{
    color: black;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 500;
}
.methods_work__text{
    font-size: 16px;
    color: rgb(19, 19, 19);
}