*{
    box-sizing: border-box;
    outline: none;
}
a{    
    text-decoration: none;
}
.navbar-collapse-without-width100{
    width: auto;
}
.nav-link-text{
    text-transform: uppercase;
    font-size: 16px;
    transition: color .5s;
}
.nav-link-text:hover{
    text-shadow: 0px 0px 0.9px rgb(212, 173, 0);
    transition: .5s;
}
.content-on-main-page{
    padding-top: 20px;
}
.content-on-main-page h1{
    font-family: 'Roboto',sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    font-style: normal;
    margin: 0 auto;
    color: #313131;
    padding-bottom: 15px!;
}
.content-on-main-page h1 strong{
    line-height: 70px;
}
.content-on-main-page .description{
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 0 20%;
    margin-bottom: 20px;
}


.one_card__infa{
    margin: auto;
    width: 210px;
    padding: 0;
    margin-bottom: 70px;
}
.fa img{
    height: auto;
    max-width: 100%;
}
.one_card__icon{
    text-align: center;
    height: 100px;
    margin: 20px auto;
    width: 100px;
    border: 1px solid rgb(212, 173, 0);
    border-radius: 15px;
    text-align: center;
    transition: color .5s;
}
.one_card__icon:hover{
    border: 1px solid red;
    transition: .5s;
}
.one_card__img{
    display: block;
    opacity: 1;
}
.one_card__title{
    color: #24292e;
    font-family: 'Roboto',sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 15px;
    font-style: normal;
}
.one_card__content{
    color: #454545;
    text-align: center;
    font: 14px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.one_card__link{
    margin: auto;
    max-width: 150px;
    color: #24292e;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid rgb(212, 173, 0);
    border-radius: 15px;
    transition: color .5s;
}
.one_card__link:hover{
    border: 1px solid red;
    transition: .5s;
}



.carousel-item div h5, .carousel-item div p{
    text-shadow: 1px 1px 4px #24292e, 0px 0px 4px #24292e, 0px 1px 2px #24292e;
}

.container_of_the_form {
    padding-top: 30px;
}
.container_of_the_form h4{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px black, 0px 0px 4px black, 1px 1px 3px black;
    padding-bottom: 20px;
}