.top_black_menu{
    background-color: black;
}
.top_black_block{
    padding: 7px 0;
}
.white_menu{
    box-shadow: 1px 1px 5px silver;
}
.top_menu_link_to{
    color: rgb(207, 207, 207);
    line-height: 30px;
    margin-right: 10px;
    font-size: 20px;
}
.top_black_block span{
    color: white;
}
.top_menu_link{
    color: rgb(207, 207, 207);
    line-height: 30px;
    margin-right: 10px;
}
.top_menu_link:hover{
    color: rgb(243, 243, 243);
    text-decoration: underline;
}
.top_menu_link::after{
    content: "|";
    padding-left: 10px;
}
.top_menu_link:last-child::after{
    content: "";
}
.navbar-title{
    font-weight: 600;
    color:  rgb(255, 109, 0);
    text-shadow: 0.5px 0.5px 3px black, -0.5px -0.5px 3px black, 0px 0px 1px white;
    letter-spacing: 5px;
    font-size: 33px;
}
.navbar-collapse-without-width100{
    width: auto;
}
.nav-link-text{
    text-transform: uppercase;
    font-size: 14px;
    transition: color .5s;
}
.nav-link-text:hover, .active{
    text-shadow: 0px 0px 0.9px rgb(255, 109, 0);
    transition: .5s;
}
@media screen and (max-width: 768px){
    .top_menu_link, .top_menu_link_to{
        font-size: 14px;
       }
}
@media screen and (max-width: 580px){
    .top_menu_link, .top_menu_link_to{
        font-size: 12px;
       }
}

.dropbtn, .dropbtn2, .dropbtn3, .dropbtn4 {
    color: white;
    font-size: 15px;
    border: none;
}

.dropdown, .dropdown2, .dropdown3, .dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-content2, .dropdown-content3, .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a, .dropdown-content4 a{
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover, .dropdown-content4 a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4 {display: block;}