.scrollup{
    background-color: rgb(231, 208, 0);
    position: relative;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    box-shadow: -0.6px 0.6px 3px rgb(22, 22, 22);
    transition: background-color .7s;
}
.scrollup span{
    position: absolute;
    top: -8px;
    left: 7.7px;
    font-weight: 400;
    font-size: 50px;
    color:black;
}
.scrollup:hover{
    background-color: rgb(255, 241, 116);

}