@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  position: relative;
}

body.popup_active {
  overflow: hidden;
  height: 100vh;
  padding-right: 20px;
}

body.ru .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="0"]::after {
  content: "Показывать название страны при наведении";
}

body.ru .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="1"]::after {
  content: "Показывать название столицы при наведении";
}

body.ru .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="2"]::after {
  content: "Показывать счетчик";
}

body.ru .tooltip .tooltip__country::before {
  content: "Страна: ";
}

body.ru .tooltip .tooltip__capital::before {
  content: "Столица: ";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #worldRanking::before {
  content: "⚑";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #countryRanking::before {
  content: "#";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #name::before {
  content: "Название университета";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #city::before {
  content: "Город";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #type::before {
  content: "Тип";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #enrollment::before {
  content: "Необходимо для поступления";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #numberOfTeachers::before {
  content: "Количество учителей";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #numberOfStudents::before {
  content: "Количество студентов";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #foundationDate::before {
  content: "Дата основания";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #costOfBachelor::before {
  content: "Стоимость обучения на бакалавриате";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #costOfMaster::before {
  content: "Стоимость обучения на магистратуре";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #hostel::before {
  content: "Наличие общежития";
}

body.ru #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table tr #exchangeProgram::before {
  content: "Наличие программы обмена";
}

body.ua .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="0"]::after {
  content: "Показувати назву країни під час наведення";
}

body.ua .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="1"]::after {
  content: "Показувати назву столиці під час наведення";
}

body.ua .map .world_map .settings__block .settings__list .settings__point[data-idofthesetting="2"]::after {
  content: "Показувати лічильник";
}

body.ua .tooltip .tooltip__country::before {
  content: "Країна: ";
}

body.ua .tooltip .tooltip__capital::before {
  content: "Столиця: ";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #worldRanking::before {
  content: "⚑";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #countryRanking::before {
  content: "#";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #name::before {
  content: "Назва університету";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #city::before {
  content: "Місто";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #type::before {
  content: "Тип";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #enrollment::before {
  content: "Необхідно для вступу";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #numberOfTeachers::before {
  content: "Кількість вчителів";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #numberOfStudents::before {
  content: "Кількість студентів";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #foundationDate::before {
  content: "Дата основания";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #costOfBachelor::before {
  content: "Вартість навчання на бакалавраті";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #costOfMaster::before {
  content: "Вартість навчання на магістратурі";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #hostel::before {
  content: "Наявність гуртожитку";
}

body.ua #popup-main-p2 .popup-container .popup__content .popup__table_container .popup__table thead tr #exchangeProgram::before {
  content: "Наявність програми обміну";
}

img {
  max-width: 100%;
  height: auto;
}

.score {
  position: fixed;
  top: 30px;
  left: 20px;
}

.score .score__container {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e0e0e0;
  border: 2px solid #838383;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  padding: 20px 10px;
  border-radius: 20px;
}

.score .score__container .score__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: 2px solid #838383;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.score .score__container .score__reset:hover {
  cursor: pointer;
  background-color: white;
}

.score .score__container .score__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 115px;
}

.score .score__container .score__block .score__numberPlus {
  margin-right: 20px;
}

.score .score__container .score__block .score__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #d20000;
  border-radius: 50%;
  border: 2px solid #838383;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.score .score__container .score__block .score__add:hover {
  cursor: pointer;
  background-color: #e60000;
}

.score .score__container .score__block .score__add span {
  position: relative;
}

.score .score__container .score__block .score__add span::after {
  content: "";
  display: block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 10px;
  position: absolute;
  right: -5px;
  height: 1.5px;
  background-color: black;
}

.score .score__container .score__block .score__add span::before {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  width: 10px;
  height: 1.5px;
  background-color: black;
}

.score .score__container .score__block .score__remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #00d200;
  border-radius: 50%;
  border: 2px solid #838383;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.score .score__container .score__block .score__remove:hover {
  cursor: pointer;
  background-color: #00e600;
}

.score .score__container .score__block .score__remove span {
  position: relative;
}

.score .score__container .score__block .score__remove span::after {
  content: "";
  display: block;
  width: 10px;
  position: absolute;
  right: -5px;
  height: 1.5px;
  background-color: black;
}

.header__nav {
  position: relative;
  font-style: Montserrat;
}

.header__nav.geography {
  background: -o-linear-gradient(272.51deg, #03539d 2.28%, #0680c5 100%);
  background: linear-gradient(177.49deg, #03539d 2.28%, #0680c5 100%);
}

.header__nav.history {
  background: #937018;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #937018), to(#cb9435));
  background: -o-linear-gradient(top, #937018 28%, #cb9435 100%);
  background: linear-gradient(180deg, #937018 28%, #cb9435 100%);
}

.header__nav.studies {
  background: #8f03a1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #8f03a1), to(#c87bd5));
  background: -o-linear-gradient(top, #8f03a1 28%, #c87bd5 100%);
  background: linear-gradient(180deg, #8f03a1 28%, #c87bd5 100%);
}

.header__nav .header__top_line__background {
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, rgba(0, 0, 0, 0.25)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 28%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 28%, rgba(255, 255, 255, 0) 100%);
}

.header__nav .header__top_line__background .header__top_line {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav .header__top_line__background .header__top_line .header__logo {
  display: block;
  height: 100px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container {
  height: 100px;
  display: block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points {
  padding: 0 50px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points.withoutP {
  padding: 0;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .list__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #cacaca;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .list__link.active,
.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .list__link:hover {
  color: #fff;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .list__link.active {
  text-decoration: underline;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block:hover .language__set {
  visibility: visible;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block {
  width: 100px;
  position: relative;
  background-color: #e0e0e0;
  border: 2px solid #838383;
  border-radius: 10px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected {
  margin: 4px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  position: relative;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected img {
  border: 1px solid black;
  width: 20px;
  margin-right: 10px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 12px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected .language__arrow {
  margin-top: -8px;
  width: 20px;
  height: 10px;
  display: block;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected .language__arrow:active {
  color: black;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__selected:hover {
  cursor: pointer;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set {
  width: 100px;
  left: -2px;
  position: absolute;
  visibility: hidden;
  background-color: #e0e0e0;
  border: 2px solid #838383;
  border-radius: 10px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set:hover {
  visibility: visible;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 10px;
  padding: 5px 0;
  text-decoration: none;
  border-bottom: 1px solid #838383;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set .language img {
  border: 1px solid black;
  height: 20px;
  margin-right: 10px;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set .language span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set .language:last-child {
  border-bottom: 1px solid transparent;
}

.header__nav .header__top_line__background .header__top_line .header__list_container .list .list__points .language__block .language__set .language:hover {
  cursor: pointer;
}

.header__nav .header__content {
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
}

.header__nav .header__content .header__main_text {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
}

.header__nav .header__content .header__main_text p {
  font-weight: 700;
  line-height: 1.5;
}

.header__nav .header__content .header__main_text p img {
  height: 40px;
}

.header__nav .header__content .header__text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
  margin-bottom: 30px;
}

.header__nav .header__content .header__button {
  margin: auto;
  width: 350px;
  border-radius: 18px;
  display: block;
  -webkit-box-shadow: 5px 15px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 15px 16px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 15px;
  background-color: #fff;
  color: black;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__nav .header__content .header__button:hover {
  -webkit-box-shadow: inset 0px 0px 1px 0.2px #000000, 5px 15px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 1px 0.2px #000000, 5px 15px 16px 0px rgba(0, 0, 0, 0.25);
}

.header__nav .header__pictures {
  margin-top: 50px;
  position: relative;
}

.header__nav .header__pictures .header__person {
  position: absolute;
  top: -19px;
  left: calc(50% - 320px);
  width: 120px;
}

.header__nav .header__pictures .header__earth {
  display: block;
  margin: auto;
  height: 100%;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  padding: 0 30px;
  margin: auto;
}

.map {
  width: 100%;
  height: auto;
}

.tooltip,
.tooltip2 {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.tooltip2 {
  width: 250px;
}

.tooltip2 .tooltip2__image {
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tooltip2 .tooltip2__name {
  margin: 5px 0;
}

.tooltip2 .tooltip2__list .tooltip2__point {
  margin-left: 20px;
}

.world_map {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 70px;
}

.world_map.geography {
  background: #0680c5;
  background: -webkit-gradient(linear, left top, left bottom, from(#0680c5), color-stop(28%, rgba(6, 128, 197, 0.8)), color-stop(60%, rgba(8, 103, 157, 0.8)), to(rgba(84, 162, 205, 0.8)));
  background: -o-linear-gradient(top, #0680c5 0%, rgba(6, 128, 197, 0.8) 28%, rgba(8, 103, 157, 0.8) 60%, rgba(84, 162, 205, 0.8) 100%);
  background: linear-gradient(180deg, #0680c5 0%, rgba(6, 128, 197, 0.8) 28%, rgba(8, 103, 157, 0.8) 60%, rgba(84, 162, 205, 0.8) 100%);
}

.world_map.history {
  background: #cb9435;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #cb9435), color-stop(57%, #c48b26), to(#c1974e));
  background: -o-linear-gradient(top, #cb9435 28%, #c48b26 57%, #c1974e 100%);
  background: linear-gradient(180deg, #cb9435 28%, #c48b26 57%, #c1974e 100%);
}

.world_map.studies {
  background: #c87bd5;
  background: -webkit-gradient(linear, left top, left bottom, from(#c87bd5), color-stop(28%, rgba(200, 123, 213, 0.8)), color-stop(55%, rgba(162, 36, 207, 0.8)), to(rgba(172, 118, 205, 0.8)));
  background: -o-linear-gradient(top, #c87bd5 0%, rgba(200, 123, 213, 0.8) 28%, rgba(162, 36, 207, 0.8) 55%, rgba(172, 118, 205, 0.8) 100%);
  background: linear-gradient(180deg, #c87bd5 0%, rgba(200, 123, 213, 0.8) 28%, rgba(162, 36, 207, 0.8) 55%, rgba(172, 118, 205, 0.8) 100%);
}

.world_map .cells {
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.world_map .cells .cell {
  border: 1px solid rgba(117, 117, 117, 0.1);
}

.world_map .settings__block {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80px;
}

.world_map .settings__block .settings__circle {
  display: none;
  border: 2px solid #838383;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.world_map .settings__block .settings__circle.active {
  display: block;
}

.world_map .settings__block .settings__circle .dots {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.world_map .settings__block .settings__circle .dots .dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #8d8d8d;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.world_map .settings__block .settings__circle:hover {
  cursor: pointer;
  background-color: #c4c3c3;
  -webkit-box-shadow: 0 0 16px white;
          box-shadow: 0 0 16px white;
}

.world_map .settings__block .settings__circle:hover .dots .dot {
  border: 2px solid #636363;
}

.world_map .settings__block .settings__list {
  position: absolute;
  top: 20px;
  display: none;
  border: 2px solid #838383;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  padding: 5px 10px;
  border-radius: 10px;
}

.world_map .settings__block .settings__list.active {
  display: block;
}

.world_map .settings__block .settings__list .settings__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.world_map .settings__block .settings__list .settings__close .close__icon {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.world_map .settings__block .settings__list .settings__close .close__icon::after {
  content: "";
  display: block;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 16px;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 1px;
  background-color: black;
}

.world_map .settings__block .settings__list .settings__close .close__icon::before {
  content: "";
  display: block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: 0px;
  width: 16px;
  height: 1px;
  background-color: black;
}

.world_map .settings__block .settings__list .settings__point {
  padding: 4px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world_map .settings__block .settings__list .settings__point:last-child {
  border-bottom: 1px solid transparent;
}

.world_map .settings__block .settings__list .settings__point:hover {
  cursor: pointer;
}

.world_map .settings__block .settings__list .settings__point span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 12px;
  border: 1px solid #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.world_map .settings__block .settings__list .settings__point span.active::before {
  background-color: #00ac00;
}

.world_map .settings__block .settings__list .settings__point span::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ac0000;
}

.world_map svg {
  position: relative;
  z-index: 1;
}

.world_map svg .country {
  fill: #e0e0e0;
  stroke: #8d8d8d;
  stroke-width: 0.2px;
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.world_map svg .country.t20 {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.world_map svg .country.hover {
  fill: #c4c3c3;
  stroke-width: 0.5px;
}

.popup-main {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 90;
  display: none;
}

.popup-main .popup-container#popup-container1 {
  max-width: 800px;
}

.popup-main .popup-container#popup-container2 {
  max-width: 1200px;
}

.popup-main .popup-container {
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 50px 0;
  width: 100%;
  border-radius: 6px;
}

.popup-main .popup-container .popup__top_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.popup-main .popup-container .popup__top_line .popup__close-icon {
  position: relative;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.popup-main .popup-container .popup__top_line .popup__close-icon::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1.5px;
  border-radius: 10px;
  width: 18px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-main .popup-container .popup__top_line .popup__close-icon::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1.5px;
  border-radius: 10px;
  width: 18px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-main .popup-container .popup__content {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 70vh;
}

.popup-main .popup-container .popup__content .popup__left_column {
  height: auto;
  padding: 10px;
  width: 60%;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg {
  display: none;
  width: 100%;
  height: 100%;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg.active {
  display: block;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg .popup__svg__mountain {
  fill: rgba(122, 66, 13, 0.7);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg .popup__svg__mountain:hover {
  fill: #7a420d;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg .popup__svg__river {
  fill: rgba(0, 115, 182, 0.7);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg .popup__svg__river:hover {
  fill: #0073b6;
}

.popup-main .popup-container .popup__content .popup__left_column .popup__svg .popup__svg__path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.popup-main .popup-container .popup__content .popup__right_column {
  width: 40%;
  background-color: rgba(0, 0, 255, 0.466);
  overflow: auto;
}

.popup-main .popup-container .popup__content .popup__right_column .popup__information {
  padding: 10px;
  display: none;
}

.popup-main .popup-container .popup__content .popup__right_column .popup__information.active {
  display: block;
}

.popup-main .popup-container .popup__content .popup__table_container {
  overflow-x: auto;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #8d8d8d;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr th {
  margin: 0 5px;
  font-weight: 400;
  font-size: 14px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #worldRanking {
  min-width: 40px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #countryRanking {
  min-width: 40px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #name {
  min-width: 200px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #city {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #type {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #enrollment {
  min-width: 140px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #numberOfTeachers {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #numberOfStudents {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #foundationDate {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #costOfBachelor {
  min-width: 120px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #costOfMaster {
  min-width: 120px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #hostel {
  min-width: 100px;
}

.popup-main .popup-container .popup__content .popup__table_container .popup__table .first__tr #exchangeProgram {
  min-width: 100px;
}

.popup-main .popup-container .popup__footer {
  height: 50px;
}

.popup-main .popup-container .popup__footer .popup__points {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.popup-main .popup-container .popup__footer .popup__points .popup__point {
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  text-decoration: none;
  color: #313131;
}

.popup-main .popup-container .popup__footer .popup__points .popup__point.active {
  color: #63d319;
  text-decoration: underline;
}

.popup-main .popup-container .popup__footer .popup__points .popup__point:hover {
  color: #509225;
}